/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue: #0061FF; /* creeazione variabile colore*/
    --light-blue: #b4d0e7;
    --dark: black;
    --bordeaux: #61082b;
    --dark-blue: #0d2481;
    --green: #a2d39b;
    --yellow: #ffd830;
    --red: #ff1c1c;
    --dark-red: #d5001f;
    --light-gray: #f5f5f5;
    --light: #ffffff;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}

figure > img {
    display: block;
    width: 100%;
}

img {
    max-width: 100%;
}

/* setup containers and rows*/

.container-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > [class^="col"] {
    /* padding: 0px 25px;  */
    /*aggiunto padding laterale ai figli diretti di row, per gestire i gutter fra le card.*/
}

/* setup columns*/

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

/* header */

.page-header {
    padding: 50px 0px;
    background-color: white;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: inline-block;
}

.page-header .row { /*layout row e item al suo interno*/
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-logo {
    display: inline;
    width: 120px;
}

/* setup buttons */

.header-button {
    background-color: var(--blue);
    color: white;
    display: inline-block;
    line-height: 44px;
    font: 18px;
    padding: 0 16px;
}

.button.button--sm {
    line-height: 35px;
    font-size: 16px;
    padding: 0px 24px;
}

/* main-hero */

.hero {
    background-color: var(--light-blue);
    padding-top: 80px;
}

.title-display {
    font-size: 76px;
    line-height: 1.2;
    margin: 32px 0px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; /*prova a vedere se quessta struttura funzia anche per la suddivisione delle card */
}

.fa-arrow-down {
    margin-top: 80px;
    font-size: 40px;
}

/*Business content cards*/

.business-content h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
}

.business-content label {
    padding-right: 50px;
    font-size: 14px;
}

/* layout plan cards*/

.plan-cards {
    padding-top: 50px;
}

.card-header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.card-body {
    margin: 40px 20px;
}

.plan-data-list > li {
    margin-bottom: 15px;
}

.plan-feature-list > li {
    margin-bottom: 20px;
}

.important-section-list > li, .important-section > p {
    margin-bottom: 15px;
}

.trial-button {
    background-color: var(--blue);
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 44px;
    font: 18px;
    padding: 0 16px;
    margin-bottom: 30px;
}

.trial-link {
    text-decoration: underline;
    color: #0061FF;
}

.trial-section {
    margin-top: 50px;
    margin-bottom: 100px;
}

.plan-feature {
    margin: 50px 0px;
}

.price {
    font-size: 14px;
}

.duration {
    font-size: 12px;
    color: gray;
}

.important-section {
    margin: 30px 0px;
}

.fa-check {
    color: #0061FF;
}

/* debug */

.debug .page-header {
    /* background-color: aqua; */
    /* border: 1px solid black; */
    padding: 10px;
}

.debug .page-header .col {
    background-color: white;
}

.debug .hero {
    background-color: #b4d0e7;
    /* border: 1px solid black; */
    padding: 10px;
}

.debug .hero [class^='col'] {
    /* background-color: white; */
}

.plan-cards .col-4{
    /* background-color: #ffd830; */
    border: 2px solid black;
}
