/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

/* header */

header a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    display: inline-block;
}

header li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}

.nav-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    display: inline;
    width: 120px;
}

.header-button {
    background-color: #0061FF;
    color: white;
    padding: 5px 15px;
    text-align: center;
}

.nav-container {
    width: 100%;
    margin: 0 auto;
}

/* main-hero */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.col-12 {
    flex-basis: 100%;
}

.hero__title {
    font-size: 70px;
    font-weight: 700;
    padding-top: 100px;
    padding-bottom: 40px;
}

.hero-button {
    background-color: #0061FF;
    color: white;
    padding: 10px 15px;
    text-align: center;
}

.hero__row {
    display: flex;
    justify-content: center;
}

.description {
    font-size: 14px;
    line-height: 1.7em;
}

.cancel {
    font-size: 14px;
}

.fa-arrow-down {
    margin-top: 80px;
    font-size: 40px;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4)
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.img-jumbo {
    width: 680px;
}

.hero__row li {
    margin-bottom: 30px;
}

.hero__row a {
    text-decoration: none;
    font-size: 14px;
}

/* debug */

.debug .page-header {
    /* background-color: aqua; */
    /* border: 1px solid black; */
    padding: 10px;
}

.debug .page-header .col {
    background-color: white;
}

.debug .hero {
    background-color: #b4d0e7;
    /* border: 1px solid black; */
    padding: 10px;
}

.debug .hero [class^='col'] {
    /* background-color: white; */
}