/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0061FF; /* creeazione variabile colore*/
    --light-blue: #b4d0e7;
    --dark: black;
    --bordeaux: #61082b;
    --dark-blue: #0d2481;
    --green: #a2d39b;
    --yellow: #ffd830;
    --red: #ff1c1c;
    --dark-red: #d5001f;
    --light-gray: #f5f5f5;
    --light: #ffffff;
}

/* variabili css: creare etichette a colori ad esm --nome-colore-scelto: valore. Lo si richiama con var(nome-colore-scelto). 
:root è la proprietà radice a cui si assegna la variabile scelta. */

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

/* layout containers and row */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row > [class^="col"] {
    padding: 0px 25px; /*aggiunto padding laterale ai figli diretti di row, per gestire i gutter fra le card.*/
}

/* layout columns */

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: calc(100% * 4 / 12);
}

.col-8 {
    width: calc(100% * 8 / 12);
}

.row > [class^="col"] {
    padding: 0px 25px; /*aggiunto padding laterale ai figli diretti di row, per gestire i gutter fra le card.*/
}

/* header */

.page-header {
    padding: 20px 0px;
    background-color: white;
}

.page-header .row { /*layout row e item al suo interno*/
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-menu__item > * {
    display: block;
    line-height: 35px; /*forse è meglio usare il line height se elementi sono scalati in base al font*/
    font-size: 16px;
    padding: 0 16px;
}

.nav-menu__item .logo-wrapper {
    padding-left: 0;
}

.logo {
    display: block;
}

.button {
    background-color: var(--blue);
    color: white;
    display: inline-block;
    line-height: 44px;
    font: 18px;
    padding: 0 16px;
}

.button.button--sm {
    line-height: 35px;
    font-size: 16px;
    padding: 0px 24px;
}

/* hero */

.hero {
    background-color: var(--light-blue);
    padding-top: 80px;
}

.title-display {
    font-size: 76px;
    line-height: 1.2;
    margin-bottom: 32px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px; /*prova a vedere se funzia anche per la suddivisione delle card */
}

/* debug */

.debug .row > [class^="col"] { /* sezione col header */
    /* border: 2px solid cornflowerblue;
    padding: 10px; */
}

.debug .container, .debug .container-fluid, .debug .container-lg {
    /* border: 2px solid black;
    padding: 10px; */
}

.debug .row { /*sezione row header*/
    /* border: 2px solid red;
    padding: 10px; */
}